body {
  font-family: "Trebuchet MS";
  background-color: orange;
}
#image1 {
  display: inline-block;
  padding: 20px 50px 20px 50px; /* top right bottom left*/
}
.blocky {
  text-align: center;
  margin-left: 30%;
  padding-top: 100px;
  float: left;
}
